
@media(max-width:720px)     {


.header{
    width: 100%;
    height: 163vw;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url(Bandhu_hotel.jpg);
   position:relative;
    background-size: cover;
   

}
.navbar{
   padding-top: 10px;
    
}
.navbar ul{
    margin-left: 10px;
}
.navbar a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding-right: 6px;
    font-size: 10px;

    font-family: Verdana;
}

.navbar a:hover{
    color:rgb(255, 196, 0);
}
.welcome{
    width: 80%;
    margin: auto;
    text-align: center;
    
    position: relative;
   
}
.welcome h1{
    text-align: center;
    font-size: 35px;
    font-family: serif;
    padding-bottom: 0px;
    font-weight: 700;
    position: absolute;
    top: 150px;
    left: 55px;
     
    
   
    
   
}
.welcome h2{
    font-size: 20px;
    font-family: Cambria;
    text-decoration: underline;
    color: rgb(255, 221, 0);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 200px;
    left: 55px;
    margin-bottom: 20px;
    
    
}

.welcome p{

    margin:  30px 0px 0px;
    text-transform: capitalize;
    font-size: 10px;
    font-family: arial;
    padding-top: 10px;
}


.header-page{
    width: 90%;
     margin: auto;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
   
   
   
    justify-content: center;
    margin-left: 5%;
position: absolute;
    bottom: 6%;
    left: 0px;

   
}

.header-page p{
    font-size: 8px;
    text-transform: capitalize;
    padding: 3px 0px;

    margin-left: 20px;
}

.header-page a{
    color: rgb(0, 191, 255);
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    font-family: segoe ui;
    margin-left: 5px;
    
    

}
.pure{
    
  
    
    
}
.pure h2{
    font-size: 25px;
    text-decoration: none;
    color: rgb(116, 255, 116);
    margin-bottom: 80px;
    padding-bottom: 10px;
font-family: sans-serif;
 position: absolute;
    top: 320px;
    left: 55px;
}

/*hotel image in mobile responsive */



.hotel-detail{
    width: 100%;
    
    background-color: rgb(0, 0, 0);
    height: 450px;
    padding: 0;
   
}
.hotel-detail h1{
    text-align: center;
   color: rgb(207, 172, 0);
   font-size: 35px;
   font-weight: 600;
   font-family: serif;
   padding-top: 10px;
}

.row{
 
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
   
    flex-wrap: wrap;
     gap: 5px;
     width: 100%;
     row-gap: 10px;
   
}



.hotel-col{
    height: 180px;
    flex-basis: 30%;
    width: 30%;
    background-color: white;
   padding-right: 10px;
   box-sizing: border-box;

    
}
.box-img{
    height: 150px;
    width: 100%;
    background-image: url("Bandhu_hotel.jpg");
    background-size: cover;
    
 
    margin: 5px ;
}
.box-img1{
     height: 150px;
    width: 100%;
    background-image: url("vip.jpeg");
    background-size: cover;
    overflow: hidden;
 
    margin: 5px ;
    
}
.box-img2{
   height: 150px;
    width: 100%;
    background-image: url("team.jpeg");
    background-size: cover;
  overflow: hidden;
    margin: 5px ;
    background-repeat: no-repeat;

}
.box-img3{
    height: 150px;
    width: 100%;
    background-image: url("kitchnstaf.jpeg");
    background-size: cover;
    overflow: hidden;
 
    margin: 5px ;
}
.box-img4{
     height: 150px;
    width: 100%;
    background-image: url("hoteltable.jpeg");
    background-size: cover;
  overflow: hidden;
    margin: 5px ;
    background-repeat: no-repeat;
}
   
.box-img5{
     height: 150px;
    width: 100%;
    background-image: url("vegiterian.jpeg");
    background-size: cover;
  overflow: hidden;
    margin: 5px ;
    background-repeat: no-repeat;
    

}



.box h2{
    font-size: 15px;
    padding: 0 0px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.pv{
    font-size: 15px;
}
.hotel-col :hover{
    box-shadow: 0px 0px 80px rgb(255, 234, 0);
    
}

/* Menu Section */


.menu-detail{
   height: 100vh;
    width: 100%;
  margin-top: 30px;
  
}

.menu-detail h2{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
      color: rgb(207, 172, 0);
  
}

#pera{
    font-size: 15px;
  text-align: center;
    margin-top: 10px;
}

.menu-detail h1{
    margin: 30px 0px 20px;
    margin-left: 10px;
    text-align: center;
}

.container{
    width: 100%;
    margin-top: 30px;
   
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   row-gap: 20px;
    
}

.menu-blank{
    height: 200px;
    flex-basis: 32%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    transition: 1s;
}
.menu-content{
    height: 210px;
    width: 90%;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
    
}
 .menu-blank:hover{
    
    transform: scale(1.3);
  
    

}
.pic1{
    height: 140px;
    width: 100%;
    background-image: url("menu/breackfast/Planeparatha.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    
    
   
}

.pic2{
     height: 140px;
    width: 100%;
    background-image: url("menu/breackfast/aloopartha.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.pic3{
    height: 140px;
    width: 100%;
    background-image: url("menu/breackfast/aloopyaj.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.pic4{
    height: 140px;
    width: 100%;
    background-image: url("menu/breackfast/panirparatha.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.pic5{
     height: 140px;
    width: 100%;
    background-image: url("menu/breackfast/gobhiparatha.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.pic6{
     height: 140px;
    width: 100%;
    background-image: url("menu/breackfast/dhosa.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.menu-content h3{
    margin-top: 5px;
    font-size: 15px;
}
.menu-content p{
    margin-top: 0px;
    font-size: 12px;
}

#big{
    font-size: 13px;
}
.container1{
    width: 100%;
    margin-top: 30px;
   
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   row-gap: 20px;
}



.menu-blank1{
    height: 210px;
    flex-basis: 32%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    transition: 1s;

}
.menu-content1{
    height: 280px;
    width: 90%;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
    
}
.main-img{
    width: 100%;
    background-size: cover;
    height: 150px;
    margin-left: 2px ;
    margin-top: 0px;
   margin-right: 20px;
  
border-radius: 10px;
}
 .menu-blank1:hover{
    
    transform: scale(1.2);
  
    

}

.menu-content1 h3{
   margin-top: 5px;
    font-size: 12px;
    color: black;
}
.menu-content1 p{
    margin-top: 0px;
    font-size: 12px;
}
.roti{
        margin-top: 50px 400px;
       text-align: center;
   
    display: flex;
    justify-content: center;
    position: relative;
}

/* hotel facility */



.facility{
    width: 100%;
   
    position: absolute;
    top: 843vh;
    
}

.fac-container1{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 610px;
   
}
.fac-col{
    flex-basis: 50%;
    box-sizing: border-box;
    border: 2px solid green;
       text-align: left;
       margin-left: 15px;
}

.fac-col h2{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 20px;
    color: rgb(0, 255, 55);
    font-weight: 700;

}

.fac-col p{
    text-transform: capitalize;
    margin-left: 5px;
    margin-top: 20px;
    white-space:inherit;
    line-height: 15px;
    padding-bottom: 15px;
    font-size: 10px;
}
#bandhu{
    margin-bottom: 20px;
   
    color: rgb(0, 205, 130);
    font-size: 15px;
    margin-left: 10px;
    text-decoration: underline;
}
.fac-col a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
   
    background-color: rgb(224, 150, 2);
    padding: 0px 6px;
    margin-left: 10px;
     margin-top: 10px;
     border: 1px solid black;
     border-radius: 40px;
  transition: 0.6s;
}
.fac-col a:hover{
    background-color: gray;
    counter-reset: white
    ;
}
.fac-content{
    margin-left: 20px;
    flex-basis: 35%;
    
    border-radius: 20px;
    display: flex;
   
    flex-direction: column;
    align-items: center;
color: black;

transition: 1s;

}

.fac-content:hover{
    transform: scale(1.2);
}
.fac-content h3{
    font-size: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px solid black;
    
}



.fac-content p{
    margin-bottom: 3px;
    font-size: 8px;
    line-height: 20px;
    top: 30%;
}


.fac-col1{
    height: 580px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
     flex-basis: 35%;
       
       
}


.fac-imgi{
    width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    
}
.fac-img{
    width: 100%;
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    
}

.fac-img1{
     width: 100%;
    height: -100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    
}

/* challange and gift*/

.challange
{
    
    margin-top: 40px;

}
.challange h2{
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
}

.cha-contener{
    width: 100%;
    margin: 30px 0px;
    display: flex;
    justify-content: space-evenly;
   
   
    
}

.cha-col{
    height: 140px;
   
    flex-basis: 32%;

}
.cha-img{
    width: 90%;
    height: 100px;
    
    background-size: contain;
    border-radius: 20px;
    
      margin: 10px 5px;
      transition: 1.2s;
  
}
.cha-img:hover{
       box-shadow: 0px 0px  80px rgb(255, 174, 0);
       transform: scale(1.2);
}
.cha-col h3{
    text-align: center;
    font-size: 12px;
    
}
.cha-col p{
    font-size:10px;
    text-align: left;
    margin-left: 15px;
    
}

/* Social Media*/


.social{
    width: 100%;
    margin-top: 140px;

}
.social h2{
    font-size: 32px;
    text-align: center;
    color: rgb(255, 187, 0);
}

.link-contener{
    margin: 30px 0px;
    display: flex;
    justify-content: space-evenly;
}

.link{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 196, 0);
    padding: 1px 0px;
    border-radius: 80px;
    transition: 1s;
}

.icon{
    padding-left: 30px;
    transform: scale(1);
}
.link a{
    
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    color: black;
   
}
.link p{
    padding-left: 10px;
}
.link:hover{
    color: black;
    background-color: white;
    
}


/* about us*/




.aboutdetail{
    margin-top: 40px;
    width: 97%;
}

.aboutdetail h2{
    text-align: center;
    font-size: 25px;
    margin: 20px 0px;
}

.aboutdetail p{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;

}

.about-container{
    height: 800px;
    display: flex;
    flex-direction: column;

}

.about-container h2{
    font-size: 2px;
    margin-left: 40px;
    margin-bottom: 50px;
}
.bandhu{
    font-size: 15px;
}
.about-col-left{
    height: 100%;
   
    text-align: left;
    margin-top: 40px 10px 0px;
    background-color: rgb(223, 224, 215);
    color: black;
    border-radius: 0px;
    position: relative;
    margin-left: 10px;
}

.about-col-left p{
    text-align: left;
    line-height: 14px;
    font-size: 10px;
    text-transform: capitalize;
    margin: 10px 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.about-col-left a{
   margin-left: 20px;
    text-align: left;
    padding: 4px 10px 0px;
    background-color: rgb(255, 136, 0);
    color: rgb(255, 255, 255);
    border-radius: 10%;
  position: absolute;
  top: 450px;
  left: 50px;
    
}
.about-col-left a:hover{
    color: black;
    background-color: gray;
}

.about-col-right{
    flex-basis: 20%;
    
}

.about-col-right img{
  margin-top: 30px;
    height: 230px;
   
    background-size: cover;
    margin-left: 70px;
    box-shadow: 0px 0px 69px  rgb(255, 180, 41);
    border-radius: 30px;
}

.about-col-right h2{
    font-size: 22px;
}





/* thankyou*/


.thank{
    height: 200px;
    width: 90%;
    margin: auto;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

.thank h1{
    font-size: 25px;
    color: green;
    margin-bottom: 0px;

}

.thank h2{
    font-size: 23px;
    color: orange;
}

.thank p{
    font-size: 13px;
    margin-top: 20px;
}
.backtop{
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 20px;
   border-radius: 20px;
   transition: 1s;
}

.backtop a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}


/* rating section */


.rating
{
    margin-top: 20px;
}

.rating h2{
    text-align: center;
    font-size: 25px;
    color: orange;
}

.rating h3{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: rgb(4, 255, 184);
}

.rat-container{
    width: 100%;
    margin: 40px 0px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 0px;
     flex-wrap: wrap;
    row-gap: 20px;
}

.rat-col{
    height: 130px;
    flex-basis: 40%;
    background-color: antiquewhite;
    border-radius: 20px;
    position: relative;
}

.part1{
    display: flex;
    
    position: relative;
}
.rat-img{
    height: 30px;
    width: 30px;
    background-size: cover;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 10px;
    display: inline-block;

}

.rat-col p{
    text-align: left;
    font-size: 8px;
   padding-left: 40px;
   top: 0px;
   color: black;
    
   
    
    
}


.word{
    font-size: 15px;
    color: rgb(255, 145, 0);
    margin: 5px 3px;
}

.star{

    margin-left: 50px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    padding-top: 10px;
}

.part1 h2{
    font-size: 19px;
     margin-left: 55px;
   
     position: absolute;
     top: 12px;
    color: black;
}



/* contect us */

.contect{
    margin-top: 30px;

}

.contect h1{
    font-size: 25px;
    text-align: center;

}
.contect p{
    font-size: 13px;
    text-align: center;
    color: rgb(85, 238, 85);
    padding-bottom: 30px;
}

#h3{
    margin: 3px 30px ;
    font-size: 12px;
    font-weight: 500;
    

}

.directcontect{
    margin: 20px 30px;
   text-align: center;
   font-size: 18px;
   font-weight: 550;
    
}

.directcontect h3{
    text-align: left;
   
    font-size: 15px;
    margin-top: 30px;
    padding-left: 50px;
     text-align: left;
     margin-left: 30px;
      margin-right: 80px;
}
.con-main{
    display: block;
    gap: 5px;

}
.contect-col-left{
    
     height: 450px;
    border: 2px solid orange;
    box-sizing: border-box;
    margin: 30px 0px;
    position: relative;
   
}
.contect-col-left h2{
    
    text-align: center;
    font-size: 15px;
    margin: 20px 10px ;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 550;
    margin-left: 30px;
}

.input{
    margin-top: 30px;
    margin-left: 10px;
}
.input input{
    margin: 20px 0px;
    padding: 5px 6px;
    font-size: 20px;
     display: block;
     border-radius: 20px;
     margin: 20px 0px;
}

.btn textarea{
    padding: 0px 20px;
    font-size: 18px;
    position: absolute;
   
    border-radius: 10px;
    width: 170px;
    height: 70px;
    left: 10px;
    
}



.submit button{
    padding: 12px 30px;
    background-color: orange;
    border-radius: 20px;
    color: black;
   display: inline;
  position: absolute;
  top: 370px;
  left: 60px;
  font-size: 10px;
  transition: 1s;
}
.submit button:hover{
    background-color: gray;
}
.contect-col-right{
    flex-basis: 10%;
    border: none;
    margin-left: 10px;
    display: none;
   
}
body{
    overflow-y: auto;
    overflow-x: hidden;
}
.contect-col-left{
    width: 100%;
}
.contect-col-right h2{
     
    
    margin-top: 30%;
    font-size: 10px;
    color: rgb(126, 255, 126);
    text-transform: capitalize;
    text-align: center;
   
   
}

.footer{
    margin-top: 50px;
    height: 80px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
 
}

.footer p{
    font-size: 16px;

}


}